/*********************************
Global layout
***********************************/

* {
   box-sizing: border-box;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}


/*
#page-wrap{
  margin: 0 auto;
  max-width: 950px;   
}
*/

/*----------------------------------
Header settings
------------------------------------*/

.header {
     background: black;
    text-transform: uppercase;
}

.header h1{ 
    padding: 20px 0px;
    font-size: 1.2em;
    color: white;   
}

.top,
.form {
      width: 80%;
}
.top {
    margin: 20px auto 0 auto; 
    border-bottom: 3px solid black;
  
}

.top h2 {
     font-size: 1.2em;
     padding-bottom: 15px;    
}

.top p {
    color: #999999;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}


/*----------------------------------
Form settings
------------------------------------*/
form{
    margin-top: 3px;   
    border-top: 2px solid black;     
}

fieldset {
    border: none;
    padding: 0px;
}

div fieldset:nth-child(1) {
    border-bottom: 2px solid black;
    padding: 20px 0px;
}

/* Align the first two inputs on right*/
.basic-details input:nth-child(1n+1) {
    text-align: right;
}

 .basic-details,
 .basic-details label,
 .basic-details input {
    display: block;
    text-align: left;    
    margin: 0px;
    width: 100%;
}

.basic-details label,
.basic-details input,
.additional-details label,
.additional-details label{   
    color: #999999;
}

.basic-details legend,
.additional-details legend{
    margin: 0;
    padding-top: 20px;
    font-weight: bold;
    text-align: left;
}

.basic-details label {
    padding-top: 15px;
    padding-bottom: 15px;   
}

.basic-details input {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5%;   
    background: lightgray;
}

input[name="zip_code"] {
    width: 50%;
}
select {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

select;invalid {
    color: grey;
}

.additional-details label:nth-of-type(1) {
    display: block;
    text-align: left;
    padding-bottom: 15px;
}

input[type="checkbox"] + label {
/*    display: inline-block;*/
    text-align: left;
    width: 100%;
}

/*
.additional-details input,
.additional-details label{
    display: inline-block;
    text-align: left; 
    padding: 0;
    margin: 0;
  
}
*/
/*
.additional-details label,
 .additional-details input{  
    text-align: left;    
    margin: 0px;
    width: 100%;
}*/
